<!DOCTYPE html>

<html>
        <head>
                <title> AWS S3 File Upload Performance Evaluater Web App </title>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
                <script src="https://sdk.amazonaws.com/js/aws-sdk-2.693.0.min.js"></script>
                <script type="text/javascript" src="static/app.js"></script>
        </head>

        <body>

                <form method="GET" action="/stop">
                        <button type="submit">Stop monitoring</button>
                </form>
                <br><p>Press stop monitoring button to stop upload and download speed monitoring<p><br>
                <div id="myProgress" style="display:none;">
                <div id="myBar"></div>
                </div>

        </body>

</html>
